.openings-container {
  padding: 60px 20px;
  text-align: center;
  background-color: #f7f7f7;
}

.openings-container h2 {
  font-size: 2.5rem;
  margin-bottom: 40px;
  font-weight: 500;
}

.cards-wrapper {
  display: flex;
  justify-content: center;
  align-items: stretch; // Faz todos os cards terem a mesma altura
  flex-wrap: wrap;
  gap: 20px;
}