.hero-section {
  padding: 120px 20px; // Adiciona um bom espaçamento vertical
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("https://images.unsplash.com/photo-1522071820081-009f0129c71c?q=80&w=2070&auto=format&fit=crop");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.hero-content {
  max-width: 800px;
  padding: 20px;
}

.hero-content h1 {
  font-size: 3.5rem;
  margin-bottom: 20px;
  font-weight: 500;
  line-height: 1;
}

.hero-content p {
  font-size: 1.5rem;
  margin-bottom: 40px;
  font-weight: 300;
  line-height: 1;
}

.hero-button {
  padding: 15px 30px;
  font-size: 1.2rem;
  text-transform: uppercase;
}
