<div class="contact-form-container">
  <h2>Entre em Contato</h2>
  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">

    <mat-form-field appearance="outline">
      <mat-label>Seu Nome</mat-label>
      <input matInput formControlName="name" placeholder="Digite seu nome completo">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Seu E-mail</mat-label>
      <input matInput formControlName="email" placeholder="exemplo@email.com">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Sua Mensagem</mat-label>
      <textarea matInput formControlName="message" placeholder="Deixe sua mensagem..."></textarea>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="contactForm.invalid">
      Enviar Mensagem
    </button>
  </form>
</div>