<section class="about-us-container">
  <div class="content-wrapper">
    <div class="text-content">
      <h2>Sobre a TechnologySolutions</h2>
      <p>
        Somos uma empresa apaixonada por tecnologia e inovação, dedicada a transformar o ambiente de trabalho através de soluções digitais inteligentes. Nossa plataforma de onboarding foi projetada para simplificar processos, melhorar a comunicação e garantir que cada novo talento se sinta bem-vindo e preparado desde o primeiro dia.
      </p>
      <p>
        Nossa missão é conectar pessoas e tecnologia para criar experiências de trabalho mais eficientes e humanas.
      </p>
      <button mat-flat-button color="primary">Saiba Mais</button>
    </div>
    <div class="image-content">
      <img src="https://images.unsplash.com/photo-1556761175-5973dc0f32e7?q=80&w=1932&auto=format&fit=crop" alt="Equipe colaborando">
    </div>
  </div>
</section>